.main-section{
    padding-top: 70px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    background-color: lightblue;
}
.hero img{
    max-width: 100%;
    height: auto;
}
.button{
    display: relative;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: turquoise;
    border: none;
}